.landing {
  align-self: center;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  height: calc(100% - 120px);
  overflow-y: hidden;
  text-align: center;
  width: calc(100% - 20px);

  &__slogan {
    border-bottom: 1px solid #e5e5e5;
    padding: 1rem;
    color: var(--color-grey);
    font-family: inherit;
    letter-spacing: 0.1rem;
    margin-top: 6rem;
    height: min-content;
    text-transform: uppercase;
  }
  &__restricted {
    color: var(--color-grey);
    font-family: inherit;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    height: min-content;
    text-transform: uppercase;
  }
  @include respond(tablet) {
    font-size: 1.6rem;
  }
}
