.login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error-msg {
  color: red;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-align: start;
  margin-bottom: 1.6rem;
}
.login-form {
  margin-top: 3.2rem;
  width: 34rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
  &__btn {
    align-items: center;
    background-color: transparent;
    border: 0.1rem solid var(--color-grey);
    border-radius: 0.2rem;
    color: var(--color-grey);
    cursor: pointer;
    display: flex;
    font-family: inherit;
    font-size: 1.2rem;
    justify-content: center;
    line-height: 3.5rem;
    height: 3.5rem;
    letter-spacing: var(--letter-spacing-md);
    margin-left: auto;
    outline: none;
    text-transform: uppercase;
    width: 10rem;
    &:hover,
    &:active {
      color: #fff;
      background-color: var(--color-dark-grey);
    }
    &:active {
      transform: translateY(2px);
    }
  }
}

@media (max-width: 480px) {
  .login-form {
    width: 80%;
  }
}
