.text-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  &__label {
    color: #666;
    letter-spacing: 3px;
    font-size: 0.9rem;
  }
  input {
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid #bbb;
    border-radius: 0;
    color: #666;
    height: 40px;
    letter-spacing: 2px;
    outline: none;
    &:focus {
      animation: input-focus 0.25s linear both;
    }
  }
  .input-error {
    color: red;
    font-size: 1.2rem;
    letter-spacing: var(--letter-spacing-sm);
    text-align: start;
    margin-top: var(--margin-sm);
  }
}

@keyframes input-focus {
  0% {
    border-bottom: 2px solid #666;
    width: 0%;
  }
  100% {
    border-bottom: 2px solid #666;
    width: 100%;
  }
}
