.text-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.2rem;
  &__label {
    color: var(--color-grey);
    letter-spacing: var(--letter-spacing-md);
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  input {
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid #bbb;
    border-radius: 0;
    color: #666;
    height: 4rem;
    letter-spacing: 0.2rem;
    outline: none;
    &:focus {
      animation: input-focus 0.25s linear both;
    }
  }
  .input-error {
    color: red;
    font-size: 1.8rem;
    letter-spacing: var(--letter-spacing-sm);
    text-align: start;
    margin-top: var(--margin-sm);
  }
}

@keyframes input-focus {
  0% {
    border-bottom: 0.2rem solid #666;
    width: 0%;
  }
  100% {
    border-bottom: 0.2rem solid #666;
    width: 100%;
  }
}
