.navbar {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  &__header {
    align-self: flex-end;
    color: #666;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
    font-weight: 100;
    letter-spacing: 0.2em;
    padding: 0 12px 12px;
    text-transform: uppercase;
    text-decoration: none;
  }
  &__hr {
    margin-left: -10%;
    width: 120%;
    height: 2rem;
    border: 0.3rem double #f6f6f6;
    border-width: 0.3em 0;
    background: #fff;
  }
  &__links {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
  }
  &__link {
    color: #666;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    padding: 0.75rem;
  }
}

@media (max-width: 600px) {
  .navbar {
    margin: 1.5rem;
    &__header {
      font-size: 1.2rem;
    }
    &__link {
      font-size: 0.8rem;
      padding: 0.75rem 0.5rem;
    }
  }
}
